.dropdown_mega {
    width: 100%;
    position: static;
}

.center {
    margin: 0% 12%;
    width: 60%;
    padding: 10px;
}

.list_group_item {
    border: 0;
    padding: 15px;
}

.nav_link {
    padding: 20px;
    font-size: large;
    font-weight: 500;
    color: antiquewhite;
}

.nav_link:hover {
    color: black;
}

.nav_link {
    padding: 20px;
    font-size: large;
    font-weight: 500;
    color: antiquewhite;
}

.list_group_item:hover {
    color: darkcyan;
    background-color: lightgray;
}

.sub_menu {
    position: absolute;
    left: 31%;
    width: 240px;
    background-color: white;
    box-shadow: 10px;
    display: none;
}